name: Release

on:
  release:
    types:
      - published

jobs:
  releaser:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Get tag
        id: get_tag
        run: echo "tag=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "^1.20"
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v4.3.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          version: latest
          args: release --rm-dist
      - name: Tag sub-modules
        env:
          RELEASE_VERSION: ${{ steps.get_tag.outputs.tag }}
          CI: true
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git checkout main
          git pull
          make release-modules
          git push
          git push --tags
